@model IEnumerable<StoreFront.Models.Product>
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Welcome @Session["name"]</h2>

<form method="get" action="@Url.Action("Welcome/")
      data-sf-ajax = "true" data-sf-target="#ProductsList">

    <input type="search" name="searchTerm" data-sf-autocomplete="@Url.Action("AutoComplete/")" />
    <input type="submit" value="Search " class="btn btn-default" />

</form>

@Html.Partial("ProductsList", Model)