@model SFData.data.Address
@{
    ViewBag.Title = "checkout";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Welcome to Checkout</h2>
<p>@Html.ActionLink("Add Address", "AddressForm", "Orders", null, null)</p>

<div id="AddressDetails">
    @{Html.RenderAction("AddressDetails", "Orders", new { AddressId = Model.AddressID });}
</div> 

